<nav class="navbar">
  <div class="title">
    <img src="../../img/Logo_Byte.png" alt="logo">
  </div>
  <div class="part-nav">
    <a href="/">Home</a>
    <a href="/store">Store</a>
    <a href="/account">Account</a>
    <a href="#about">About Us</a>
    <a href="#contact">Contact</a>
  </div>
  <div class="burger">
    <div class="burger-line"></div>
    <div class="burger-line"></div>
    <div class="burger-line"></div>
  </div>
</nav>
