<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/adminStyle.css" />
    <link rel="shortcut icon" href="../img/Logo_Byte.png" type="image/png" />
    <title>Byte Zone</title>
  </head>
  <body>
    <main class="parentAll">
      <aside class="navigate">
        <h1>ByteZone</h1>
        <section class="nav">
          <ul>
            <li>Dashboard</li>
            <li>Products</li>
            <li>Users</li>
            <li>Contact Requests</li>
            <li>Feedbacks</li>
          </ul>
          <div class="line"></div>
          <ul>
            <li>Sales</li>
            <li>Order-Lists</li>
            <li>Product Stocks</li>
            <li>Log Out</li>
          </ul>
        </section>
      </aside>
      <main class="content">
        <nav class="top">
          <section class="partNav">
            <button>Notifications</button>
            <h4>User</h4>
            <% if (locals.name) { %>
            <div class="cardSmallNav">
              <p id="name"><%= name.userName %></p>
              <p id="role">ADMIN</p>
            </div>
            <% } else { %>
            <div class="cardSmallNav">
              <p id="name">No Name</p>
              <p id="role">ADMIN</p>
            </div>
            <% } %>
          </section>
        </nav>
        <main id="dashboard">
          <h2>Dashboard</h2>
          <section class="dashboard-part">
            <div class="smallCardDash">
              <h4 class="title">Total User</h4><br>
              <p><%= userCount %></p>
            </div>
            <div class="smallCardDash">
              <h4 class="title">Total Sales</h4><br>
              <p><%= itemsSold %></p>
            </div>
            <div class="smallCardDash">
              <h4 class="title">Sales Amount</h4><br>
              <p>Rupees <%= salesAmount %></p>
            </div>
          </section>
        </main>
      </main>
    </main>
  </body>
</html>
