<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ByteZone: Your one-stop shop for all your computing needs. Discover a wide range of desktops, laptops, and accessories at competitive prices. Find the perfect tech for work, play, and everything in between.">
    <meta name="keywords" content="desktops, laptops, computers, accessories, electronics, gaming, business, online shopping, tech deals, bytezone">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/Logo_Byte.png" type="image/png">
    <title>Byte Zone</title>
  </head>
  <%- include('./partials/tracker') %>
  <body>
    <%- include('./partials/navbar') %>
    <header class="intro">
      <section class="intro-text-section">
        <h1>Byte Zone</h1>
        <p>One of the world's leading tech store</p>
      </section>
      <img loading="lazy" src="../img/Logo_Byte.png" alt="byte zone logo">
    </header>
    <%- include('./partials/footer') %>
    <%- include("./partials/scripts") %>
  </body>
</html>
