<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/Logo_Byte.png" type="image/png">
    <title>Byte Zone</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <header class="intro">
      <section class="intro-text-section">
        <h1>Byte Zone</h1>
        <p>One of the world's leading tech store</p>
      </section>
      <img src="../img/Logo_Byte.png" alt="byte zone logo">
    </header>
    <%- include('./partials/footer') %>
    <%- include("./partials/scripts") %>
  </body>
</html>
